* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #fafafb;
    --purple: #9a67ea;
    --blue-light: #04d4c3;
    --blue-dark: #2a73c2;
    --green: #2c7b90;
}

body {
    height: 100vh;
    font-family: 'Stardew',sans-serif;
}

.container {
    max-width: 80%;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 20px; /* Añade un pequeño padding inferior para espacio al final */
}

/* PERFIL */
.perfil h1 {
    color: var(--white);
    font-size: 45px;
}

.perfil span {
    color: var(--white);
    letter-spacing: 1px;
    font-size: 19px;
}

#fecha {
    color: var(--white);
    padding: 50px 0 5px 0px;
}

/* AGREGAR TAREA */
.agregar-tarea {
    background-image: url(/img/input.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 95px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 10px;
    margin: 40px 0;
    font-family: 'Stardew',sans-serif;
}

.agregar-tarea input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    background-color: transparent;
    outline: none; /* Elimina el borde de enfoque del navegador */
}

.agregar-tarea input::placeholder {
    font-size: 1.1rem;
    color: rgb(83, 61, 61);
    font-weight: bold;
    opacity: 50%;
    font-family: 'Stardew', sans-serif;
}

.agregar-tarea i {
    font-size: 50px;
    color: var(--purple);
}

.agregar-tarea i:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* CONSEJO */
.consejo {
    background-image: url(/img/mail.png); /* Cambia esta ruta a la imagen que quieres usar */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen dentro del contenedor */
    border-radius: 15px;
    height: 140px;
    display: column; /* Mantiene el contenido centralizado */
    align-items: center;
    justify-content: center;
    padding: 19px;
    margin: 40px 0;
    width: 400px;
}

.consejo h3 {
    position: relative;
    margin-top: 5px;
    font-size: 25px;
}

.consejotext {
    position: relative;
    font-size: 19px;
}

/* SECCION DE TAREA */
.seccion-tarea h3 {
    color: var(--white);
    margin-bottom: 20px;
}

.seccion-tarea li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    color: var(--white);
    margin: 5px 0;
    background-color: rgb(29, 56, 212);
}

.seccion-tarea i {
    font-size: 25px;
}

.seccion-tarea > ul p {
    font-size: 1.2rem;
}

.seccion-tarea i:hover {
    color: var(--blue-light);
    cursor: pointer;
}

.line-through {
    text-decoration: line-through;
    color: var(--blue-light);
}

/* FONDOS POR HORA */
.mañana {
    background-image: url(/img/dia-pc.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

.tarde {
    background-image: url(/img/dia-pc.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.noche {
    background-image: url(/img/noche-pc.png);
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

/* RESPONSIVE */
/* Estilos para pantallas móviles */
@media (max-width: 768px) {
    .consejo {
        width: 100%;
        height: 150px; /* Ajusta la altura según sea necesario */
        padding: 10px;
        border-radius: 10px;
        background-size: cover; /* Asegura que la imagen se ajuste al nuevo tamaño */
        background-position: center;
    }
    .consejo img {
        width: 300px;
    }
    body {
        color: black;
    }
    .perfil span {
        color: black;
    }
    .perfil h1 {
        color: black;
    }
    #fecha {
        color: black;
    }
    .mañana {
        background-image: url(/img/dia-cel.jpg);
        height: 100%;
        color: black;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .tarde {
        background-image: url(/img/dia-cel.jpg);
        background-size: cover;
        height: 100%;
        background-repeat: no-repeat;
    }
    .noche {
        background-image: url(/img/noche-cel.jpg);
        color: black;
        background-size: cover;
        height: 100%;
        background-repeat: no-repeat;
    }
    /* AGREGAR TAREA */
    .agregar-tarea {
        background-image: url(/img/input.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 95px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        gap: 70px;
        padding: 10px;
        margin-top: 74px;
    }
    .agregar-tarea input {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        border: none;
        padding-left: 10px;
        background-color: transparent;
        outline: none; /* Elimina el borde de enfoque del navegador */
    }
    .agregar-tarea input::placeholder {
        font-size: 1.1rem;
        color: rgb(83, 61, 61);
        font-weight: bold;
        opacity: 50%;
    }
    .agregar-tarea i {
        font-size: 50px;
        color: var(--purple);
    }
    .agregar-tarea i:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    .consejo img {
        width: 600px;
    }
}

@media (max-width: 480px) {
    .consejo {
        height: 150px; /* Ajusta la altura para pantallas muy pequeñas */
        border-radius: 8px; /* Ajusta el radio del borde para pantallas más pequeñas */
        background-size: cover; /* Asegura que la imagen cubra todo el contenedor en pantallas pequeñas */
        background-position: center;
        font-family: 'Stardew', sans-serif;
    }
}

@font-face {
    font-family: 'Stardew';
    src: url('/stardew-item-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
